thead >tr >th{
    color: red;
    text-align: center;
}

table{
    border: 1;
}

tbody >tr >td{
    padding: 10px;
}

.background-red{
    tbody >tr:nth-child(10) {
        background-color: red;
    
    }
    
}
.background-header{
    thead >tr{
        background-color: cornflowerblue
    }
}

.center {
    margin: auto;
    border: 3px ;
    padding: 10px;
  }

.df4m{
    padding-left: 20px;
    padding-bottom: 40px;
  }
.padd{
    padding-top: -20px;
}
